.header-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header-content {
  color: white;
  font-size: 60px;
  font-family: 'barlow';
}
.header-button {
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  background-color: #fdc913;
  font-size: 18px;
  border: none;
  font-family: 'barlow';
}
.header-button:hover {
  background-color: orange;
  transform: scale(1.05);
}
